.container{
    background-color: silver;
    margin: 20px 20px;
    padding: auto;
    overflow: auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 30px 30px 30px 30px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 2.5%;
}
.main {
    height: 400px;
    background-color: red;
    float: right;
    width: 75%;
    margin-bottom: 15px;
    margin-right: 2.5%;
    margin-top: -260px;
}
.sub-content {
    height: 49%;
    width: 29%;
    background-color: yellow;
    display: inline-block;
    margin: 10px 10px;
    vertical-align: top;
}
#advertisement {
    height: 140px;
    width: 91.5%;
    background-color: purple;
    margin: 10px;
}

